on:
  workflow_call:
    secrets:
      IBM_CLOUD_API_KEY:
        required: true
      IBM_CLOUD_CF_API:
        required: true
      IBM_CLOUD_CF_ORG:
        required: true
      IBM_CLOUD_CF_SPACE:
        required: true
      JF_ARTIFACTORY_1:
        required: true

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: download artifact to jfrog 
        uses: jfrog/setup-jfrog-cli@v1
        env:
           # JF_ARTIFACTORY_1: ${{ secrets.artifactory_token_1 }}
           JF_ARTIFACTORY_1: eyJ2ZXJzaW9uIjoyLCJ1cmwiOiJodHRwczovL3ByaWFyLmpmcm9nLmlvLyIsImFydGlmYWN0b3J5VXJsIjoiaHR0cHM6Ly9wcmlhci5qZnJvZy5pby9hcnRpZmFjdG9yeS8iLCJkaXN0cmlidXRpb25VcmwiOiJodHRwczovL3ByaWFyLmpmcm9nLmlvL2Rpc3RyaWJ1dGlvbi8iLCJ4cmF5VXJsIjoiaHR0cHM6Ly9wcmlhci5qZnJvZy5pby94cmF5LyIsIm1pc3Npb25Db250cm9sVXJsIjoiaHR0cHM6Ly9wcmlhci5qZnJvZy5pby9tYy8iLCJwaXBlbGluZXNVcmwiOiJodHRwczovL3ByaWFyLmpmcm9nLmlvL3BpcGVsaW5lcy8iLCJ1c2VyIjoia2hhcmF0cmFtZXNoQGdtYWlsLmNvbSIsInBhc3N3b3JkIjoiQVBMdmphb3hGVzNQOUNFNWRuQWhtQ3Y2RzkiLCJ0b2tlblJlZnJlc2hJbnRlcnZhbCI6NjAsInNlcnZlcklkIjoicHJpYXIifQ==
      - run: |
          jfrog --version
          jfrog c use priar
          jfrog rt ping
          echo '${{ github.workspace }}/target/*.jar'
          jfrog rt download --flat=false priar/home/runner/work/testingworkflows/testingworkflows/target/*.jar /home/runner/work/testingworkflows/testingworkflows

      # - uses: actions/checkout@v2
      - name: Deploy to IBM Cloud Foundry
        # You may pin to the exact commit or the version.
        uses: IBM/cloudfoundry-deploy@master
        with:
          IBM_CLOUD_API_KEY: ${{ secrets.IBM_CLOUD_API_KEY }}
          IBM_CLOUD_CF_API: ${{ secrets.IBM_CLOUD_CF_API }}
          IBM_CLOUD_CF_ORG: ${{ secrets.IBM_CLOUD_CF_ORG }}
          IBM_CLOUD_CF_SPACE: ${{ secrets.IBM_CLOUD_CF_SPACE }}
